language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
# command to install dependencies
install:

  - "pip install -r requirements.txt"
  - "pip install coveralls"

# command to run tests
script: python -m unittest

after_scuccess: "coveralls"